@charset "utf-8";
.pricingheader{margin-left:50px;height:70px;padding:10px}
.pricelink{float:left;margin-left:50px}
#pricing-top{height:110px;margin:0}
.pricingholder{height:390px;padding:10px}
#pricingtext{font-size:150%;text-align:center;text-shadow:2px 2px .5px rgba(10,10,10,0.6);font-weight:700;padding:0}
#pricingtext A:link{margin-top:20px;padding-top:10px}
#videobottombox{padding-top:30px}
#package-top{height:143px;padding:0;margin:0}
#package-bottom{height:143px;padding:0;margin:0}
#packageleft{float:left;width:320px}
#packageright{float:right;width:320px}
.vpViewer{float:left;padding-left:12px;padding-top:50px}
.timecostpannel{width:100%;padding:10px;max-width:400px;margin:0 auto 10px}
.timecostpannel ul{padding-left:10px;font-weight:bolder}
#pricingtextblue{height:70px;margin:0;padding-bottom:10px;font-weight:700;font-size:260%;text-align:center;text-shadow:3px 3px 3px rgba(0,0,0,0.8);color:#0E84B6}
#pricingtextyellow h1{height:70px;margin:0;padding-bottom:10px;font-weight:700;font-size:260%;text-align:center;text-shadow:3px 3px 3px rgba(0,0,0,0.8);color:#E8C700}
#pricingtextgreen h1{height:70px;margin:0;padding-bottom:10px;font-weight:700;font-size:260%;text-align:center;text-shadow:3px 3px 3px rgba(0,0,0,0.8);color:#58D600}
#pricingtextgreen h2{height:50px;margin:0;padding-bottom:10px;font-weight:700;font-size:160%;text-align:center;text-shadow:1px 2px 1px rgba(0,0,0,0.8);color:#0073FF}
#pricingtextpurple h1{margin:0;padding:0;font-weight:700;font-size:260%;text-align:center;text-shadow:3px 3px 3px rgba(0,0,0,0.8);color:#C900D6}
#pricingtextorange{height:60px;margin:0;padding-bottom:10px;font-weight:700;font-size:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,0.8);color:#FF9419}
.videoHolder{background-image:url(../pricing/whiteboardBack.png);background-repeat:no-repeat;width:660px;height:390px;padding-left:5px;padding-bottom:20px;padding-top:10px;margin-left:127px}
#BasicPackage{opacity:1}
#BasicPackage:hover{opacity:.9}
#BusinessPackage{opacity:1}
#BusinessPackage:hover{opacity:.9}
#ExecutivePackage{opacity:1}
#ExecutivePackage:hover{opacity:.9}
#CorporatePackage{opacity:1}
#CorporatePackage:hover{opacity:.9}
#featured:hover{cursor:pointer}
.price-list {
}
.price-list dt{color:#ffa500}
.price-list dd{color:#FFFFFF;line-height:1em}
.length{font-size:large;margin:0}
.text-large.orangetext{text-shadow: rgba(10, 10, 10, 0.498039) 1px 1px 1px;font-weight:bold}
.pricing{margin:0 auto;max-width:1200px}
.wthvideo-prices{min-width:352px}