# Emergency Fix by pair Networks - Fri May  4 15:02:05 2012
RewriteEngine on
RewriteCond %{QUERY_STRING} ^[^=]*$
RewriteCond %{QUERY_STRING} %2d|- [NC]
RewriteRule .? - [F,L]

#Action application/x-pair-sphp4 /cgi-sys/php-cgiwrap/working/php4.cgi
#AddType application/x-pair-sphp4 .php 
Action application/x-pair-sphp5 /cgi-sys/php-cgiwrap/working/php53.cgi
AddType application/x-pair-sphp5 .php 
ErrorDocument 500  http://www.websitetalkingheads.com/404error.html
ErrorDocument 403  http://www.websitetalkingheads.com/404error.htmlp
ErrorDocument 401  http://www.websitetalkingheads.com/404error.html
AddType image/png png
ErrorDocument 404 http://www.websitetalkingheads.com/404error.html
DirectoryIndex index.php index.html index.shtml index.cgi index.php3 index.phtml index.htm home.html welcome.html
